<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <style>
      .v-application {
        font-family: "Noto Sans JP", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar fixed app color="primary" dark dense>
          <v-toolbar-title>TODOアプリ</v-toolbar-title>
        </v-app-bar>
        <v-main>
          <v-container>
            <v-row>
              <v-col cols="12" md="6" lg="4">
                <v-card>
                  <v-card-text>
                    あいうえお
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="12" md="6" lg="4">
                <v-card>
                  <v-card-text>
                    かきくけこ
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="12" md="6" lg="4">
                <v-card>
                  <v-card-text>
                    さしすせそ
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="6" lg="4">
                <v-card>
                  <v-card-text>
                    あいうえお
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="12" md="6" lg="4">
                <v-card>
                  <v-card-text>
                    かきくけこ
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="12" md="6" lg="4">
                <v-card>
                  <v-card-text>
                    さしすせそ
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
            <!-- <v-btn block @click="test1()"> Block Button </v-btn>
            {{message}} -->
          </v-container>
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
          return {
            message: "Hello Vue!",
          };
        },
        mounted() {
          this.message = "Hello";
        },
        methods: {
          test1() {
            this.message = "やっほー";
          },
        },
      });
    </script>
  </body>
</html>
