<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="robots" content="noindex">
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <style>
      .v-application {
        font-family: "Noto Sans JP", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar fixed app color="primary" dark dense>
          <v-toolbar-title>TODOアプリ<%= type %></v-toolbar-title>
        </v-app-bar>
        <v-main>
          <v-container>
            <v-row>
              <v-col cols="12" md="4">
                <v-card outlined>
                  <v-card-title> TODOを追加 </v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <v-text-field
                      v-model="inputTitle"
                      outlined
                      dense
                      hide-details="auto"
                      label="タイトル"
                    ></v-text-field>
                    <v-textarea
                      v-model="inputContents"
                      outlined
                      dense
                      hide-details="auto"
                      label="内容"
                      class="mt-3 mb-3"
                    ></v-textarea>
                    <div class="text-right">
                      <v-btn color="primary" @click="addTodo()">
                        <v-icon left>mdi-plus</v-icon>
                        追加
                      </v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="12" md="8">
                <v-card outlined>
                  <v-card-title> TODOリスト </v-card-title>
                  <div v-if="todoList.length==0">
                    <v-divider></v-divider>
                    <v-card-text> TODOがありません </v-card-text>
                  </div>
                  <div v-for="(item, index) in todoList">
                    <v-divider></v-divider>
                    <v-card-text>
                      <v-row>
                        <v-checkbox
                          v-model="item.done"
                          dense
                          hide-details="auto"
                          class="ma-0 pa-0"
                        ></v-checkbox>
                        <div class="align-self-center">
                          <div>
                            {{ item.title }}
                          </div>
                          <div>
                            <small>
                              {{ item.contents }}
                            </small>
                          </div>
                        </div>
                        <v-spacer></v-spacer>
                        <div class="align-self-center">
                          <v-btn color="error" @click="deleteTodo(index)" small>
                            <v-icon left small>mdi-delete</v-icon>
                            削除
                          </v-btn>
                        </div>
                      </v-row>
                    </v-card-text>
                  </div>
                </v-card>
              </v-col>
            </v-row>
            <!-- <v-btn block @click="test1()"> Block Button </v-btn>
            {{message}} -->
          </v-container>
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
          return {
            message: "Hello Vue!",
            inputTitle: "",
            inputContents: "",
            todoList: [
              //{ title: "", contents: "二個", done: false },
              //{ title: "みかんを買う", contents: "三個", done: true },
            ],
          };
        },
        watch:{
          todoList:{
            deep: true,
            handler(){
              sessionStorage.setItem("TODO_DATA", JSON.stringify(this.todoList))
            }
          },
        },
        mounted() {
          try{
            const todoData = sessionStorage.getItem("TODO_DATA");
            const todoListTemp = JSON.parse(todoData);
            if(todoListTemp){
              this.$set(this, "todoList", todoListTemp);
            }
          }
          catch(err){
            console.error(err);
          }
        },
        methods: {
          addTodo() {
            console.log(this.inputTitle);
            console.log(this.inputContents);
            if (!this.inputTitle) return;
            this.todoList.push({
              title: this.inputTitle,
              contents: this.inputContents,
              done: false,
            });
            this.inputTitle = "";
            this.inputContents = "";
          },
          deleteTodo(index) {
            if (!this.todoList[index].done) {
              if (!window.confirm("完了していませんが削除して良いですか")) {
                return;
              }
            }
            this.todoList.splice(index, 1);
          },
        },
      });
    </script>
  </body>
</html>
